<div class="modal-header">
  <h4 class="modal-title">{{ 'Edit Job Title' | translate }}</h4>
  <button type="button" class="btn-close" (click)="onCancel()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="jobTitleForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="nameAr" class="form-label">{{ 'Name in Arabic' | translate }} *</label>
          <input 
            type="text" 
            id="nameAr"
            formControlName="nameAr"
            class="form-control" 
            [class.is-invalid]="jobTitleForm.get('nameAr')?.invalid && jobTitleForm.get('nameAr')?.touched"
            [placeholder]="'Enter name in Arabic' | translate">
          <div *ngIf="jobTitleForm.get('nameAr')?.invalid && jobTitleForm.get('nameAr')?.touched" class="invalid-feedback">
            {{ getErrorMessage('nameAr') }}
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="nameEn" class="form-label">{{ 'Name in English' | translate }} *</label>
          <input 
            type="text" 
            id="nameEn"
            formControlName="nameEn"
            class="form-control" 
            [class.is-invalid]="jobTitleForm.get('nameEn')?.invalid && jobTitleForm.get('nameEn')?.touched"
            [placeholder]="'Enter name in English' | translate">
          <div *ngIf="jobTitleForm.get('nameEn')?.invalid && jobTitleForm.get('nameEn')?.touched" class="invalid-feedback">
            {{ getErrorMessage('nameEn') }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">
    {{ 'Cancel' | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="jobTitleForm.invalid">
    {{ 'Update' | translate }}
  </button>
</div> 