<app-card [headerTitle]="'Tasks'" [border]="true" [padding]="false" [cardBodyClass]="'projects-wrapper'">
    <div class="row g-4">
        @for(project of projects | slice: 0:9; track project) {
            <div class="col-xxl-4 col-md-6 box-col-6 xl-50">
                <div class="card">
                    <div class="card-body">
                        <h5>{{ project.project_name }}</h5>
                        <p>{{ project.project_description }}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</app-card>